# Ignore everything
*

# Unignore this gitignore
!.gitignore

# Unignore the plugins folder itself so git can traverse into it
!plugins/
plugins/*

# Allow only these files
!plugins/HideBlockedEverywhere.plugin.js
!plugins/VoiceOverlay.plugin.js
!plugins/DiscordQuestCompleter.plugin.js
!